
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #0a2a38;
    overflow: hidden;
}
    
#logo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
    position: relative; 
    object-fit: cover;
    cursor: pointer; 
    transition: transform 0.3s ease;
}

@keyframes rotateBorder {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

#logo::before {
    content: '';
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    background: linear-gradient(45deg, transparent, #007bff, transparent, #28a745, transparent, #dc3545, transparent);
    border-radius: 50%;
    z-index: -1; 
    background-size: 200% 200%;
    animation: rotateBorder 3s linear infinite;
}

#logo:hover {
    transform: scale(1.2); 
}
#logo:hover::before {
    animation-play-state: running;
}

    /* --- Blink animation --- */

/* Lvl 1 */
@keyframes blink-1 {
  50% { opacity: 0.6; }
}

/* Lvl 2 */
@keyframes blink-2 {
  50% { opacity: 0.3; }
}

/* Lvl 3 */
@keyframes blink-3 {
  50% { opacity: 0.1; transform: scale(1.05); }
}

.blink-step-1 {
  animation: blink-1 1s infinite;
}

.blink-step-2 {
  animation: blink-2 0.7s infinite;
}

.blink-step-3 {
  animation: blink-3 0.4s infinite;
  font-weight: bold;
  color: #ff4d4d;
}
